<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<!-- 编码过滤  POST Request Response -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
        <filter-name>startFilter</filter-name>
        <filter-class>com.gt.filter.StartFilter</filter-class>
    </filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<!-- 配置Springmvc 前端控制器 -->
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc-home.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- / .js.css      /* .jsp拦截    后台*.do    前台*.shtml  单点登陆*.aspx-->
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>*.shtml</url-pattern>
	</servlet-mapping>
	<context-param>
      <param-name>logbackConfigLocation</param-name> 
      	<!-- 这里可以配置自定义的路径 --> 
      <param-value>classpath:logback.xml</param-value>  
	</context-param>  
	<listener>  
	      <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>  
	</listener> 
	<servlet>  
	   <servlet-name>AccessViewStatusMessages</servlet-name>  
	   <servlet-class>ch.qos.logback.access.ViewStatusMessagesServlet</servlet-class>  
	 </servlet>  
	  
	 <servlet-mapping>  
	   <servlet-name>AccessViewStatusMessages</servlet-name>  
	   <url-pattern>/lbAccessStatus</url-pattern>  
	 </servlet-mapping> 
</web-app>